body {
  font-family: sans-serif;
  background-color: rgb(239, 236, 245);
}
h1 {
  color: blue;
}
h2, h3 {
  color: red;
}
p {
  font-family: serif;
  color: black;
  font-size: 18px;
  margin-left: 20px;
}
.info p {
  color: green;
}
.h3par {
  background-color: blue;
  color: yellow !important;
}
.ulist {
  border: 1px solid purple;
}
ul h3 {
  color: orange;
  font-weight: bold;
}
li {
  color: purple;
}
#specialItem {
  color: black;
  font-weight: bold;
}

body :hover {
  background-image: radial-gradient(blue, red);
}
